<div id="<%= dom_id reserva %>">
  <p>
    <strong>Estabelecimento:</strong>
    <%= reserva.estabelecimento_id %>
  </p>

  <p>
    <strong>Nome cliente:</strong>
    <%= reserva.nome_cliente %>
  </p>

  <p>
    <strong>Telefone cliente:</strong>
    <%= reserva.telefone_cliente %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= reserva.data %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= reserva.hora %>
  </p>

  <p>
    <strong>Quantidade pessoas:</strong>
    <%= reserva.quantidade_pessoas %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reserva.status %>
  </p>

</div>
