<div id="<%= dom_id promocao %>">
  <p>
    <strong>Estabelecimento:</strong>
    <%= promocao.estabelecimento_id %>
  </p>

  <p>
    <strong>Titulo:</strong>
    <%= promocao.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= promocao.descricao %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= promocao.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= promocao.data_fim %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= promocao.ativo %>
  </p>

</div>
