
<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :establishment %>
    <%= f.association :customer %>
    <%= f.input :total_price %>
    <%= f.input :status %>
    <%= f.input :delivery_method %>
    <%= f.input :delivery_address %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
