
<%= simple_form_for(@pedido) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :estabelecimento %>
    <%= f.association :cliente %>
    <%= f.input :total_preco %>
    <%= f.input :status %>
    <%= f.input :metodo_entrega %>
    <%= f.input :endereco_entrega %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
