<div id="<%= dom_id pedido %>">
  <p>
    <strong>Estabelecimento:</strong>
    <%= pedido.estabelecimento_id %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= pedido.cliente_id %>
  </p>

  <p>
    <strong>Total preco:</strong>
    <%= pedido.total_preco %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pedido.status %>
  </p>

  <p>
    <strong>Metodo entrega:</strong>
    <%= pedido.metodo_entrega %>
  </p>

  <p>
    <strong>Endereco entrega:</strong>
    <%= pedido.endereco_entrega %>
  </p>

</div>
