<div id="<%= dom_id promotion %>">
  <p>
    <strong>Establishment:</strong>
    <%= promotion.establishment_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= promotion.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= promotion.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= promotion.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= promotion.end_date %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= promotion.active %>
  </p>

</div>
