<div id="<%= dom_id estabelecimento %>">
  <p>
    <strong>User:</strong>
    <%= estabelecimento.user_id %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= estabelecimento.nome %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= estabelecimento.tipo %>
  </p>

  <p>
    <strong>Tema:</strong>
    <%= estabelecimento.tema %>
  </p>

  <p>
    <strong>Redes sociais:</strong>
    <%= estabelecimento.redes_sociais %>
  </p>

</div>
