<div id="<%= dom_id establishment %>">
  <p>
    <strong>User:</strong>
    <%= establishment.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= establishment.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= establishment.slug %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= establishment.type %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= establishment.theme %>
  </p>

  <p>
    <strong>Social links:</strong>
    <%= establishment.social_links %>
  </p>

</div>
