
<%= simple_form_for(@establishment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :name %>
    <%= f.input :slug %>
    <%= f.input :type %>
    <%= f.input :theme %>
    <%= f.input :social_links %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
