<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Metadados  -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% # Dependências CSS %>
    <%= stylesheet_link_tag "/assets/css/bootstrap.min.css",                                            "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/assets/css/plugins.min.css",                                              "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/assets/css/kaiadmin.css",                                                 "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/assets/css/demo.css",                                                     "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "home_application",                                                         "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% # App JS do projeto %>
    <%= javascript_include_tag "/assets/js/core/jquery-3.7.1.min.js",                                   "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/js/core/popper.min.js",                                         "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/js/core/bootstrap.min.js",                                      "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js",            "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/js/plugin/chart.js/chart.min.js",                               "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js",            "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/js/plugin/sweetalert/sweetalert.min.js",                        "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/js/plugin/datatables/datatables.min.js",                        "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js",            "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/js/kaiadmin.min.js",                                            "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="wrapper">
      <%= render "shared/sidebar" %>
      <%= render "shared/navbar" %>
      <div class="main-content">
        <div class="content-wrapper">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>